body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin: auto;
}

#input-size {
    margin: 20px;
}

.main-container { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: silver;
    height : 500px;
    width: 500px;
}


